In [1]:
import pandas as pd

In [2]:
def asal(sayi):
    dizi=[]
    x=1
    while len(dizi)<sayi:
        sayac=0
        if x<3:
            dizi.append(x)
        else:
            for y in range(2,x-1):
                if (x%y)==0:
                    sayac+=1
            if sayac==0:
                dizi.append(x)
        x+=1
    return dizi


def fibo(sayi):
    fibo=[]
    x=0
    while len(fibo)<sayi:
        if x<2:
            fibo.append(1)
        else:
            fibo.append(fibo[x-2]+fibo[x-1])
        x+=1
    return fibo


sayilar=["a", "b", "c", "ç", "d", "e", "f", "g", "ğ", "h"]  
sayilar=pd.DataFrame(index=sayilar)
sayilar["asallar"]=asal(len(sayilar))
sayilar["fibonacci"]=fibo(len(sayilar))
sayilar

   asallar  fibonacci
a        1          1
b        2          1
c        3          2
ç        5          3
d        7          5
e       11          8
f       13         13
g       17         21
ğ       19         34
h       23         55

In [3]:
dosya=pd.read_csv("C:/Users/Gunesim/Desktop/Çalışmalar/train.csv", engine="python")

dosya_ort=dosya[dosya["Age"]>=0]
dosya_ort.groupby(by="Sex").mean()["Age"]

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [4]:
kucuk=len(dosya[(dosya["Age"]>=0) & (dosya["Age"]<30)])
kucuk_kurtul=len(dosya[(dosya["Age"]>=0) & (dosya["Age"]<30) & (dosya["Survived"]==1)])

erkek=len(dosya[dosya["Sex"]=="male"])
erkek_kurtul=len(dosya[(dosya["Sex"]=="male") & (dosya["Survived"]==1)])

kadin=len(dosya[dosya["Sex"]=="female"])
kadin_kurtul=len(dosya[(dosya["Sex"]=="female") & (dosya["Survived"]==1)])

print("30 yaşından küçük yolcuların kurtulma oranı: % {:.2f} 'tür.".format((kucuk_kurtul/kucuk)*100))
print("\nErkeklerin kurtulma oranı: % {:.2f}\nKadınların kurtulma oranı: % {:.2f} 'tür."
      .format((erkek_kurtul/erkek)*100, (kadin_kurtul/kadin)*100))

30 yaşından küçük yolcuların kurtulma oranı: % 40.62 'tür.

Erkeklerin kurtulma oranı: % 18.89
Kadınların kurtulma oranı: % 74.20 'tür.