In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import warnings

warnings.filterwarnings('ignore')

In [2]:
titanic=pd.read_csv("./titanic.csv")

In [3]:
titanic.Sex=titanic.Sex.replace({"male":1, "female":2})
titanic=titanic.drop("PassengerId", axis=1)
titanic=titanic.drop("Ticket", axis=1)
titanic=titanic.drop("Name", axis=1)
titanic.Age=titanic.Age.fillna(0)

titanic.Cabin=titanic.Cabin.fillna("Z")
titanic["CabinGroup"]=[i[0] for i in titanic["Cabin"]]
titanic.Embarked=titanic.Embarked.fillna("C")
titanic=titanic.drop("Cabin", axis=1)
titanic.CabinGroup=titanic.CabinGroup.replace({"A":1, "B":2, "C":3,
                                                "D":4, "E":5, "F":6,
                                                "G":7, "T":8, "Z":8})

In [4]:
titanic.Embarked=titanic.Embarked.replace({'C':1, 'S':2, 'Q':3})

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Sex           891 non-null int64
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Embarked      891 non-null int64
CabinGroup    891 non-null int64
dtypes: float64(2), int64(7)
memory usage: 62.7 KB

In [6]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  CabinGroup
0         0       3    1  22.0      1      0   7.2500         2           8
1         1       1    2  38.0      1      0  71.2833         1           3
2         1       3    2  26.0      0      0   7.9250         2           8
3         1       1    2  35.0      1      0  53.1000         2           3
4         0       3    1  35.0      0      0   8.0500         2           8

In [7]:
X=titanic.iloc[:,2:]
y=titanic["Survived"]

In [8]:
X_eğitim, X_test, y_eğitim, y_test = train_test_split(X, y, test_size=0.30, random_state=276)

In [9]:
model_1=titanic[["Pclass", "Sex", "Age", "SibSp", "Parch"]]

X_eğitim, X_test, y_eğitim, y_test = train_test_split(model_1, y, test_size=0.30, random_state=276)

loj_1vsR=LogisticRegression()
loj_1vsR.fit(X_eğitim, y_eğitim)

loj_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
loj_mnm.fit(X_eğitim, y_eğitim)


egt_dogruluk_1vsR = loj_1vsR.score(X_eğitim, y_eğitim)
test_dogruluk_1vsR = loj_1vsR.score(X_test, y_test)

egt_dogruluk_mnm = loj_mnm.score(X_eğitim, y_eğitim)
test_dogruluk_mnm = loj_mnm.score(X_test, y_test)

print('One-vs-rest', '-'*20,
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_1vsR), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_1vsR), sep='\n')

print('\n\nMultinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_mnm), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_mnm), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.78
Modelin test verisindeki doğruluğu   : 0.80


Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.78
Modelin test verisindeki doğruluğu   : 0.79

In [10]:
model_2=titanic[["Sex", "Age", "Embarked", "CabinGroup"]]

X_eğitim, X_test, y_eğitim, y_test = train_test_split(model_2, y, test_size=0.30, random_state=276)

loj_1vsR=LogisticRegression()
loj_1vsR.fit(X_eğitim, y_eğitim)

loj_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
loj_mnm.fit(X_eğitim, y_eğitim)


egt_dogruluk_1vsR = loj_1vsR.score(X_eğitim, y_eğitim)
test_dogruluk_1vsR = loj_1vsR.score(X_test, y_test)

egt_dogruluk_mnm = loj_mnm.score(X_eğitim, y_eğitim)
test_dogruluk_mnm = loj_mnm.score(X_test, y_test)

print('One-vs-rest', '-'*20,
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_1vsR), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_1vsR), sep='\n')

print('\n\nMultinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_mnm), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_mnm), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.79
Modelin test verisindeki doğruluğu   : 0.78


Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.78
Modelin test verisindeki doğruluğu   : 0.78

In [11]:
model_3=titanic[["Pclass", "Sex", "Age", "SibSp", "Parch", "Embarked", "CabinGroup"]]

X_eğitim, X_test, y_eğitim, y_test = train_test_split(model_3, y, test_size=0.30, random_state=276)

loj_1vsR=LogisticRegression()
loj_1vsR.fit(X_eğitim, y_eğitim)

loj_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
loj_mnm.fit(X_eğitim, y_eğitim)


egt_dogruluk_1vsR = loj_1vsR.score(X_eğitim, y_eğitim)
test_dogruluk_1vsR = loj_1vsR.score(X_test, y_test)

egt_dogruluk_mnm = loj_mnm.score(X_eğitim, y_eğitim)
test_dogruluk_mnm = loj_mnm.score(X_test, y_test)

print('One-vs-rest', '-'*20,
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_1vsR), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_1vsR), sep='\n')

print('\n\nMultinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_mnm), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_mnm), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.79
Modelin test verisindeki doğruluğu   : 0.79


Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.79
Modelin test verisindeki doğruluğu   : 0.79

In [17]:
titanic["Pclass_Cgroup"]=titanic["Pclass"]*titanic["CabinGroup"]
model_4=titanic[["Sex", "Age", "Embarked", "Pclass_Cgroup"]]

X_eğitim, X_test, y_eğitim, y_test = train_test_split(model_4, y, test_size=0.30, random_state=276)

loj_1vsR=LogisticRegression()
loj_1vsR.fit(X_eğitim, y_eğitim)

loj_mnm = LogisticRegression(multi_class='multinomial', solver='lbfgs')
loj_mnm.fit(X_eğitim, y_eğitim)


egt_dogruluk_1vsR = loj_1vsR.score(X_eğitim, y_eğitim)
test_dogruluk_1vsR = loj_1vsR.score(X_test, y_test)

egt_dogruluk_mnm = loj_mnm.score(X_eğitim, y_eğitim)
test_dogruluk_mnm = loj_mnm.score(X_test, y_test)

print('One-vs-rest', '-'*20,
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_1vsR), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_1vsR), sep='\n')

print('\n\nMultinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(egt_dogruluk_mnm), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_dogruluk_mnm), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.80
Modelin test verisindeki doğruluğu   : 0.80


Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.80
Modelin test verisindeki doğruluğu   : 0.79